.activity-notifications{
    background-color: #F4F7FF;
    color: #374151 ;
    font-size: 14px;
    margin-bottom: 28px;
    padding: 12px;
    border-radius: 8px;
}

/* .completed-btn:disabled{
    opacity: 0.3;
} */